/* Note there a few "reset" styles given in reset.css. Review those before you begin */

/* socorro!!!! */

html {
	--primary-col: #222222;    /* main colour */
	--primary-alt: #4c4c4c;    /* variant */
	--primary-on: #000000;     /* for text or icons */
    --primary-col-fill: #F2F2F2; /* bg fill */
	--secondary-col: #600c1a; /* selected */
	--secondary-alt: #C19529; /* hover */
	--secondary-on: #C9B069; /* buttons */
	/* etc, etc... */

    --pad-and-gap: 1em;
    --font-text: 'Montserrat', sans-serif;
    --font-tittle: 'Playfair Display', serif;
}

/* base from walkthrough */

body {
    background-color: var(--primary-col-fill);
    font-family: var(--font-text);
    font-size: 0.9em;
    line-height: 1.7;
    color: var(--primary-col);
    padding: var(--pad-and-gap);
}

ul {
    list-style-type: none;
}

h1, h3 {
    font-family: var(--font-tittle);
}

img {
    max-width: 100%;  
    height: auto;  
}

del {
    font-size: 0.9em;
    color: var(--primary-alt);
}

ins {
    font-size: 1.3em;
    color: var(--secondary-col);
}

button {
    padding: 0.5em var(--pad-and-gap);
    background-color: var(--secondary-alt);
    color: #ffffff;
    text-transform: uppercase;
    font-family: var(--font-tittle);
    /* transition: 0.3s; */
    cursor: pointer;
    border: none;
}

/* button hover dont work */
/* 
.button :hover {
    opacity: 0.6
} */ 

.products, .page-header, .page-footer {
   padding-left: var(--pad-and-gap);
   padding-right: var(--pad-and-gap);

}

.your-products {
    display: flex;
    justify-content: space-evenly;

}
    .your-products > li {
        padding: var(--pad-and-gap);
    }


.pagination {
    text-align: center;
}

.pages {
    display: flex;
    justify-content: center;
}

.pages > li {
    margin: calc(var(--pad-and-gap)/2) ;
}

.social, .legal {
    display: flex;
    justify-content: flex-end;
    margin: calc(var(--pad-and-gap)/2) ;
}

.copyright {
    text-align: right;
}

/* smallest viewport (mobile) */

.page-header {
    display: grid ;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas:
    " logo . . nav-toggle "
    " search search search search "
    " navigation navigation navigation navigation " 
    " . . your-products . ";
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
}