/* Note there a few "reset" styles given in reset.css. Review those before you begin */

/* socorro!!!! */

html {
	--primary-col: #ff3366;    /* main colour */
	--primary-alt: #ff6699;    /* variant */
	--primary-on: #ffffff;     /* for text or icons */
	--secondary-col: #3399ff;
	--secondary-alt: #99ccff;
	--secondary-on: #000000;
	/* etc, etc... */
}